Repository LuXDAmore/vue-cursor-fx: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, eslint, stylelint, stylelint --syntax=scss

chore: linting
  src/VApp/style.scss
Due: stylelint --syntax=scss

docs: updated github pages and library
  dist/CursorFx.common.js
  dist/CursorFx.css
  dist/CursorFx.umd.js
  docs/css/app.243f0c2d.css
  docs/css/app.60ce940b.css
  docs/css/chunk-vendors.36e46d09.css
  docs/css/chunk-vendors.883ea51b.css
  docs/index.html
  docs/js/app-legacy.e7ac906f.js
  docs/js/app.e7ac906f.js
Due: eslint, stylelint

fix: optimized image
  public/og-image.jpg
Due: none

chore: updated dev dep
  yarn.lock
Due: none

docs: updated github pages and library
  dist/CursorFx.common.js
  dist/CursorFx.umd.js
  docs/css/app.22351b37.css
  docs/css/app.60ce940b.css
  docs/index.html
  docs/js/app-legacy.80430d73.js
  docs/js/app.80430d73.js
  docs/og-image.jpg
Due: eslint, stylelint

v1.6.0
  package.json
Due: none

docs: updated changelo
  CHANGELOG.md
Due: none

chore(release): 1.6.1
  CHANGELOG.md
  package.json
Due: none

v1.6.2
  package.json
Due: none

docs: updated changelog
  CHANGELOG.md
Due: none

fix: general settings
  .husky/.gitignore
  .vscode/launch.json
  .vscode/settings.json
Due: none

fix: external links in githuba pages
  src/VApp/VApp.vue
Due: lint

docs: updated github pages and library
  docs/css/app.22351b37.css
  docs/css/app.2d445fa2.css
  docs/index.html
  docs/js/app-legacy.80430d73.js
  docs/js/app-legacy.8717fd99.js
  docs/js/app.80430d73.js
  docs/js/app.8717fd99.js
Due: eslint, stylelint

Update README.md
  README.md
Due: none

docs: fix typo in readme
  README.md
Due: none

Path conditions:
  lint: any of: *.vue
  eslint: any of: *.{ts,js}
  stylelint: any of: *.css
  stylelint --syntax=scss: any of: *.scss
